.wrapperdoanhnghiep{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerdoanhnghiep{
    margin-top: 65px;
    width: 1240px; 
    min-height: 1000px;
    background-color: white;
}